.search {
    background-color: transparent;
    border: 1px solid var(--secondary);
    height: 5.5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    color: var(--secondary-text);
}

.filter_button {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-background);
    border-radius: 4px;
    gap: 0;
    margin-left: 0.3rem;
    font-size: 0.7rem;
    padding: 0.05rem 0.5rem 0.05rem 0.2rem;
    cursor: pointer;
}

.filter_button:hover{
    background-color: var(--primary);
}

.search-bar {
    width: 24vw;
    margin: 5px 5px 5px 0;
    background-color: transparent;
    color: var(--text);

}

.search-field {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.search-icon{
    display: flex;
    align-items: center;
    color: var(--primary);
    margin-right: 0.45rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.search-icon:hover{
    transform: scale(1.1);
    color: var(--secondary);
}

.search-text{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    color: var(--text);
}

.search-text:focus {
    border: none;
    outline: none;
}

