.person-info-container {
    height: auto;
    width: 27vw;
    padding-left: 10vw;
    margin-top: 2vh;
    min-width: 300px

}

.personal-info > h3{
    color: var(--primary);
    padding: 1vh 0;
}

h5{
    color: var(--text);
}

.person-image {
    width: 90%;
    height: 40vh;
}

.person-image > img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}


.personal-info {
    display: flex;
    flex-direction: column;
    width: 15vw;
}


.personal-info > div {
    margin-top: 1.2vh;
}

.person-social-medias {
    margin: 1.2vh 0;
}