.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 1em 3em 5em 3em;
}

.pagination button {
    border: none;
    padding: 10px 15px;
    margin: 0 4px;
    border-radius: 25%;
    background-color: var(--secondary-background);
    transition: background-color 0.3s ease;
    color: var(--secondary-text);
    cursor: pointer;
}

.pagination button:hover:not(.active) {
    background-color: var(--secondary);
}

.pagination button.active {
    background-color: var(--primary);
    color: white;
}

.pagination button:disabled {
    display: none;
}
