

.carousel-image {
    width: 100%; /* Full width of the container */
    height: 98%; /* Full height of the container */
    display: flex; /* Use flex to center the image inside the div */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.carousel-image img {
    width: 100%;
    height: 75vh;
    object-fit: fill;
    display: block;
}



/* Arrow button styles */
.slick-prev,
.slick-next {
    font-size: 0; /* Removes the default arrow characters */
    line-height: 0;
    position: absolute;
    top: 50%; /* Aligns the button to the middle vertically */
    z-index: 1;
    cursor: pointer;
    border: none; /* Removes border */
    width: 30px; /* Arrow width */
    height: 30px; /* Arrow height */
    border-radius: 15px; /* Makes it round */
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.5; /* Arrow opacity */
    transform: translateY(-50%); /* Centers the arrow vertically */
}

.slick-prev {
    left: 25px; /* Adjust as needed for your design */
}

.slick-next {
    right: 25px; /* Adjust as needed for your design */
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    opacity: 1; /* Full opacity on hover/focus */
}

