/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Reset styles and set global font family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Styling for the body */
.outer-container {
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

/* Styling for the main container */
.container {
    background-color: var(--secondary-background);
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    width: 50dvw;
    min-height: 65dvh;
}

/* Styling for text elements inside the container */
.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

/* Styling for buttons inside the container */
.container-button {
    background-color: var(--primary);
    color: var(--text);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

/* Styling for hidden button state */
.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

/* Styling for the form inside the container */
.form-element {
    background-color: var(--secondary-background);
    /*background-color: #fff;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    gap: 2rem;
    color: var(--text);
}

.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0.2rem;
}

/* Styling for input fields inside the form */
.container input {
    /*background-color: #eee;*/
    background-color: var(--background);
    border: none;
    padding: 0.7rem 1rem;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    color: var(--text);
    outline: none;
}

/* Styling for form containers (sign-in and sign-up) */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.password-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    padding-right: 1rem;
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.title-text {
    font-size: 1.8rem;
    font-weight: bold;
    background: var(--primary-seconday-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: block;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}


/* Styling for toggle container */
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

/* Styling for toggle element */
.toggle {
    height: 100%;
    background: url("../../../images/background_images.jpg");
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.container.active .toggle {
    transform: translateX(50%);
}

/* Styling for toggle panels */
.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        min-height: 65dvh;
    }

    .login-inputs {
        gap: 0.8rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .container {
        width: 90%;
        min-height: 70dvh;

    }
    .login-inputs {
        gap: 0.8rem;
    }
}