.person-card {
    width: 14rem;
    height: 30rem;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #0e1723;

}
.profile-container {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.profile-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1rem;
    overflow: hidden;
}

.people-name {
    margin-top: 1px;
    padding: 0.5rem;
    color: var(--text);
    text-align: center;
}
.people-known-for {
    margin-top: 0.1rem;
    padding: 1px;
    color: var(--secondary-text);
    text-align: center;
    margin-bottom: 0.2rem;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 900px) {

}

