
.carousel-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.container-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--background);
    height: 100%;
}


.movies-container {
    width: 80%;
    height: 100%;
}

.wishlists-section {
    width: 20%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .container-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movies-container {
        width: 100%;
    }

    .wishlists-section {
        width: 100%;
    }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {

}






