.people-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: var(--background);
    padding: 1em 3em 0em 3em;
}

.people-heading{
    padding-top: 6em;
    background-color: var(--background);
    color: var(--text);
    font-size: 1.5em;
    text-align: left;
    padding-left: 5em;
}