:root{
  --text: #e1eaf9;
  --secondary-text: #728290;
  --background: #070b11;
  --primary: #67a636;
  --secondary: #a4bf43;
  --accent: #CC4D4D;
  --secondary-background: #131e2e;
  --primary-seconday-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(164,191,67,1) 0%, rgba(87,141,46,1) 100%);
}



body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
