:root{
  --text: #e1eaf9;
  --background: #070b11;
  --primary: #578d2e;
  --secondary: #938d1d;
  --accent: #30d737;
}



body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
